/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@font-face {
  font-family: "Milkshake";
  src: local("src/fonts/Milkshake.ttf");
}
@font-face {
  font-family: "Poppins";
  src: local("src/fonts/Poppins-Regular.otf");
}
.milkshake {
  font-family: Milkshake;
}
.poppins {
  font-family: "Poppins";
}

body {
  /* background-color: #f5f5f5; */
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.navbar-active {
  border-bottom: 2px solid #8b8b81;
}
.navbar-active:hover {
  border-bottom: 2px solid #333333;
}
.imageDark {
  filter: brightness(30%);
}
.imageDark:hover {
  filter: brightness(100%);
}
.workContainer:hover .imageDark {
  filter: brightness(100%);
}
.workContainer:hover .workTitle {
  color: #333333;
}
.workTitle:hover .imageDark {
  filter: brightness(100%);
}
