/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@font-face {
  font-family: "Milkshake";
  src: local("src/fonts/Milkshake.ttf");
}
@font-face {
  font-family: "Poppins";
  src: local("src/fonts/Poppins-Regular.otf");
}
.milkshake {
  font-family: Milkshake;
}
.poppins {
  font-family: "Poppins";
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: #f5f5f5; */
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.navbar-active {
  border-bottom: 2px solid #ff6700;
}
.navbar-active:hover {
  border-bottom: 2px solid #ff6700;
}
.imageDark {
  filter: brightness(30%);
}
.imageDark:hover {
  filter: brightness(100%);
}
.workContainer:hover .imageDark {
  filter: brightness(100%);
}
.workContainer:hover .workTitle {
  color: #ff6700;
}
.workTitle:hover .imageDark {
  filter: brightness(100%);
}

/* .slow-animate {
  overflow: hidden;

  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
} */

.primary-hover:hover {
  color: #ff6700;
}
.secondary-hover:hover {
  color: #ed217c;
}
.third-hover:hover {
  color: #09bc8a;
}
.fourth-hover:hover {
  color: #054a91;
}
.fifth-hover:hover {
  color: #a1674a;
}
.sixth-hover:hover {
  color: #ff6978;
}
.seventh-hover:hover {
  color: #20a4f3;
}

.primary-border-hover:hover {
  border-color: #ff6700;
}
.secondary-border-hover:hover {
  border: 2px solid #ed217c;
}
.third-border-hover:hover {
  border-color: #09bc8a;
}
.fourth-border-hover:hover {
  border-color: #054a91;
}
.fifth-border-hover:hover {
  border-color: #a1674a;
}
.sixth-border-hover:hover {
  border-color: #ff6978;
}
.seventh-border-hover:hover {
  border-color: #20a4f3;
}

.primary-bg-hover:hover {
  background-color: #ff6700;
}
.secondary-bg-hover:hover {
  background-color: #ed217c;
}
.third-bg-hover:hover {
  background-color: #09bc8a;
}
.fourth-bg-hover:hover {
  background-color: #054a91;
}
.fifth-bg-hover:hover {
  background-color: #a1674a;
}
.sixth-bg-hover:hover {
  background-color: #ff6978;
}
.seventh-bg-hover:hover {
  background-color: #20a4f3;
}

.primary-text {
  color: #ff6700;
}
.secondary-text {
  color: #ed217c;
}
.third-text {
  color: #09bc8a;
}
.fourth-text {
  color: #054a91;
}
.fifth-text {
  color: #a1674a;
}
.sixth-text {
  color: #ff6978;
}
.seventh-text {
  color: #20a4f3;
}
