/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@font-face {
  font-family: "Milkshake";
  src: local("src/fonts/Milkshake.ttf");
}
@font-face {
  font-family: "Poppins";
  src: local("src/fonts/Poppins-Regular.otf");
}
.milkshake {
  font-family: Milkshake;
}
.poppins {
  font-family: "Poppins";
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: #f5f5f5; */
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.navbar-active {
  border-bottom: 2px solid #ff6700;
}
.navbar-active:hover {
  border-bottom: 2px solid #ff6700;
}
.imageDark {
  filter: brightness(30%);
}
.imageDark:hover {
  filter: brightness(100%);
}
.workContainer:hover .imageDark {
  filter: brightness(100%);
}
.workContainer:hover .workTitle {
  color: #ff6700;
}
.workTitle:hover .imageDark {
  filter: brightness(100%);
}

/* .slow-animate {
  overflow: hidden;

  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
} */

.primary:hover {
  color: #ff6700;
}
.secondary:hover {
  color: #ed217c;
}
.thiird:hover {
  color: #09bc8a;
}
.fourth:hover {
  color: #054a91;
}
.fifth:hover {
  color: #a1674a;
}
.sixth:hover {
  color: #ff6978;
}
.seventh:hover {
  color: #20a4f3;
}
